absl-py==0.2.2
astor==0.7.1
Django==2.0.8
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
Markdown==2.6.11
nltk==3.3
numpy==1.15.0
Pillow==5.2.0
protobuf==3.6.0
pytz==2018.5
Sastrawi==1.0.1
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
tflearn==0.3.2
Werkzeug==0.14.1
scipy==1.2.1
